body {
    font-family: 'Mystery Quest', cursive;
        background-image: url(../images/psychic-background.jpg);
    }
}

h1 {
    font-size: 48px;
}

.main-container {
    font-size: 48px;
}

.jumbotron {
    text-align:center;
    background: #1b1b1b!important;
    opacity: .67;
    color: #ffffff;
    font-size: 64px;
}